colorlog
easydict
matplotlib
numpy
opencv-python-headless
pose2sim==0.10.1
pre-commit
Pillow~=10.4.0
PyQt6
qt-material==2.14
sports2d==0.4.8
websockets
git+https://github.com/MarilynKeller/aitviewer-skel.git
nimblephysics
pyvista
