QPushButton {{
    color: {QTMATERIAL_PRIMARYTEXTCOLOR};
    text-transform: none;
    background-color: {QTMATERIAL_PRIMARYCOLOR};
}}

.secondary_button {{
    color: {QTMATERIAL_SECONDARYTEXTCOLOR};
    background-color: {QTMATERIAL_SECONDARYLIGHTCOLOR};
    border-color: {QTMATERIAL_SECONDARYLIGHTCOLOR};
}}

/* Large Buttons */
.big_button {{
    height: 256px;
    width: 256px;
    border-radius: 16px;
    font-size: 48px;
    font-weight: normal;
}}

/* Headings */
.h1, .h2, .h3 {{
    font-weight: bold;
}}

.h1 {{
    font-size: 18px;
}}

.h2 {{
    font-size: 16px;
}}

.h3 {{
    font-size: 14px;
}}

/* Body Text */
.body {{
    font-weight: normal;
    font-size: 12px;
}}

/* Tab Bar */
QTabBar::tab {{
    background-color: {QTMATERIAL_SECONDARYCOLOR};
    color: white;
    padding: 8px;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}}

QTabBar::tab:selected {{
    color: {QTMATERIAL_PRIMARYCOLOR};
    font-weight: bold;
}}

/* Label */
QLabel {{
    font-weight: normal;
    font-size: 12px;
}}

/* Control Panel */
#ControlPanel {{
    background-color: {QTMATERIAL_PRIMARYCOLOR};
}}

/* Slider */
QSlider {{
    background-color: transparent;
    color: black;
}}

/* Recording Layout */
#RecordingLayout {{
    background-color: black;
    border: 2px solid {QTMATERIAL_PRIMARYLIGHTCOLOR};
    color: white;
    padding: 16px;
}}

#RecordingLayout QPushButton {{
    background-color: white;
    border: 1px solid {QTMATERIAL_PRIMARYCOLOR};
    padding: 4px;
    color: {QTMATERIAL_PRIMARYCOLOR};
}}

/* Model Browser */
#ModelBrowser {{
    background-color: transparent;
}}

/* List Items */
.list-item {{
    background-color: transparent;
    padding: 8px;
    color: {QTMATERIAL_SECONDARYTEXTCOLOR};
    border-bottom: 1px solid {QTMATERIAL_SECONDARYCOLOR};
}}

.list-item::selection {{
    background-color: rgba(0, 0, 0, 100);
    color: {QTMATERIAL_PRIMARYTEXTCOLOR};
}}

/* Sidebar */
#Sidebar {{
    background-color: {QTMATERIAL_SECONDARYCOLOR};
}}

/* Visualizer Settings */
#VisualizerSettings QSlider {{
    background-color: transparent;
    color: {QTMATERIAL_PRIMARYTEXTCOLOR};
}}

#VisualizerSettings QCheckBox {{
    background-color: transparent;
    color: {QTMATERIAL_PRIMARYTEXTCOLOR};
}}

QFrame {{
    border-radius: 16px;
    border: 1px solid {QTMATERIAL_SECONDARYCOLOR};
}}

QFrame * {{
    border-radius: 16px;
    border: initial;
}}

Frame {{
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 100);
    border: 2px solid {QTMATERIAL_PRIMARYCOLOR};
}}

Frame * {{
    border-radius: 16px;
    border: initial;
}}

QLabel {{
    border: initial;
}}

QTabWidget {{
    border-radius: 16px;
}}

QVBoxLayout {{
    border-radius: 16px;
}}

QHBoxLayout {{
    border-radius: 16px;
}}

/* Disabled Frame */
Frame:disabled {{
    background-color: rgba(0, 0, 0, 100);
    border: 2px solid {QTMATERIAL_SECONDARYCOLOR};
}}

QPushButton {{
    border-radius: 16px;
}}

/* Drag & Drop */
#DragDropWidget {{
    background-color: {QTMATERIAL_SECONDARYLIGHTCOLOR};
    color: {QTMATERIAL_SECONDARYTEXTCOLOR};
    padding: 16px;
}}

#DragDropWidget QScrollWidget {{
    background-color: {QTMATERIAL_SECONDARYLIGHTCOLOR};
    color: {QTMATERIAL_SECONDARYTEXTCOLOR};
}}

/* Scrollbars */
QScrollBar:vertical {{
    border: 1px solid {QTMATERIAL_SECONDARYCOLOR};
    background: {QTMATERIAL_SECONDARYCOLOR};
    width: 10px;
    margin: 0px 0px 0px 0px;
}}

QScrollBar::handle:vertical {{
    background: {QTMATERIAL_SECONDARYLIGHTCOLOR};
    min-height: 20px;
}}

QScrollBar::add-line:vertical {{
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}}

QScrollBar::sub-line:vertical {{
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}}

QScrollBar:horizontal {{
    border: 1px solid {QTMATERIAL_SECONDARYCOLOR};
    background: {QTMATERIAL_SECONDARYCOLOR};
    height: 10px;
    margin: 0px 0px 0px 0px;
}}

QScrollBar::handle:horizontal {{
    background: {QTMATERIAL_SECONDARYLIGHTCOLOR};
    min-width: 20px;
}}

QScrollBar::add-line:horizontal {{
    width: 0px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}}

QScrollBar::sub-line:horizontal {{
    width: 0px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}}

.empty {{
    background-color: transparent;
}}

.video-gallery-item {{
    border-radius: 0px;
    background-color: {QTMATERIAL_SECONDARYCOLOR};
    color: {QTMATERIAL_SECONDARYTEXTCOLOR};
}}


.video-gallery-item:hover {{
    background-color: {QTMATERIAL_SECONDARYLIGHTCOLOR};
    color: {QTMATERIAL_SECONDARYTEXTCOLOR};
}}

.video-gallery-item QWidget {{
    background-color: transparent;
}}
